html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %futura-400;
  font-size: 14px;
  line-height: 1.4;
  color: $text;
  background-color: #fff;
}

.main {
  flex-grow: 1;
}

a {
  color: $text;
  text-decoration: none;
}

a:hover {
  color: #000;
}

// .container{
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
// }

.title {
  margin-bottom: 45px;
}

.title h2 {
  @extend %futura-300;
  font-size: 44px;
  color: #000;
  text-transform: uppercase;
  max-width: 210px;
  margin-bottom: 0;
}

.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #f3f3f3;
}

.menu-nav__row {
  margin-right: 0;
}

.menu-nav {

  .header__logo-img,
  .header__menu-btn-img {
    display: none;
  }

  .header__logo-img--first,
  .header__menu-btn--first {
    display: block;
  }

  .header__nav-box {
    display: flex;
    justify-content: space-between;
  }

  .header__content-box {
    padding: 0;
  }
}

.menu-nav nav {
  margin: 8px 0;
}

.nav-link {
  padding: 0;
  display: inline-block;
}

.nav-link:hover {
  color: #000;
}

// .menu-nav nav.navbar .dropdown:hover>.dropdown-menu {
//     display: flex;
// }

.menu-nav .header__list {
  justify-content: flex-end;
}

.menu-nav .header__curse-item::before {
  display: none;
  content: '';
  position: absolute;
  display: block;
  bottom: -11px;
  right: 0;
  left: initial;
  width: 0;
  height: 4px;
  background-color: #000;
  transition: width 700ms ease;
}

.menu-nav .header__curse-item:hover::before {
  display: block;
  opacity: 1;
  width: 100%;
  right: initial;
  left: 0;
}

.news__title {
  position: relative;
  margin-bottom: 0;
}

.news__title::before {
  content: '';
  position: absolute;
  bottom: 8px;
  right: 0;
  width: calc(100% - 220px);
  height: 2px;
  background-color: #e9e9e9;
}

.more {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.more-link {
  text-transform: uppercase;
  font-size: 17px;
  @extend %futura-400;
  color: #000;
}

.more-link:hover {
  color: #000;
}

.line {
  display: inline-block;
  position: relative;
}

.line::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  left: initial;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 500ms ease;
}

.line:hover::before {
  width: 100%;
  right: initial;
  left: 0;
}

.all-link {
  display: inline-block;
  position: relative;
  padding: 15px 0 15px 20px;
  @extend %futura-book;
  font-size: 17px;
  text-transform: uppercase;
  border-left: 1px solid #000;
  transition: transform 500ms ease;
}

.all-link:hover {
  transform: scale(.95);
}

.all-link::before,
.all-link::after {
  content: '';
  position: absolute;
  left: 0;
  background-color: #000;
  width: 30%;
  height: 1px;
}

.all-link::before {
  top: 0;
}

.all-link::after {
  bottom: 0;
}

// .all-link:hover::before,
// .all-link:hover::after{
//   opacity: 1;
// }
.all-link span {
  @extend %futura-700;
}

#map,
#map-lesson {
  max-width: 755px;
  width: 100%;
  height: 470px;
}

.swiper-navigation-post,
.swiper-navigation-news,
.swiper-navigation-partners {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-width: 280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-post-prev,
.swiper-post-next,
.swiper-news-prev,
.swiper-news-next,
.swiper-partners-prev,
.swiper-partners-next {
  border-right: 1px solid transparent;
  padding: 20px 20px 20px 0;
  transition: border-color 500ms ease;
  position: relative;
}

.swiper-post-prev,
.swiper-news-prev,
.swiper-partners-prev {
  border-left: 1px solid transparent;
  border-right: none;
  padding: 20px 0 20px 20px;
}

.swiper-post-prev:hover,
.swiper-post-next:hover,
.swiper-news-prev:hover,
.swiper-news-next:hover,
.swiper-partners-prev:hover,
.swiper-partners-next:hover {
  border-color: #000;
}

.swiper-post-prev::before,
.swiper-post-prev::after,
.swiper-post-next::before,
.swiper-post-next::after,
.swiper-news-prev::before,
.swiper-news-prev::after,
.swiper-news-next::before,
.swiper-news-next::after,
.swiper-partners-prev::before,
.swiper-partners-prev::after,
.swiper-partners-next::before,
.swiper-partners-next::after {
  content: '';
  position: absolute;
  right: -1px;
  bottom: -1px;
  background-color: #000;
  width: 50%;
  height: 1px;
  opacity: 0;
  transition: opacity 500ms ease;
}

.swiper-post-prev::after,
.swiper-post-next::after,
.swiper-news-prev::after,
.swiper-news-next::after,
.swiper-partners-prev::after,
.swiper-partners-next::after {
  top: 0px;
}

.swiper-post-prev::after,
.swiper-post-prev::before,
.swiper-news-prev::after,
.swiper-news-prev::before,
.swiper-partners-prev::after,
.swiper-partners-prev::before {
  left: -1px;
}

.swiper-post-prev:hover::before,
.swiper-post-prev:hover::after,
.swiper-post-next:hover::before,
.swiper-post-next:hover::after,
.swiper-news-prev:hover::before,
.swiper-news-prev:hover::after,
.swiper-news-next:hover::before,
.swiper-news-next:hover::after,
.swiper-partners-prev:hover::before,
.swiper-partners-prev:hover::after,
.swiper-partners-next:hover::before,
.swiper-partners-next:hover::after {
  opacity: 1;
}

.content {
  padding-bottom: 55px;

  &__title {
    margin-bottom: 80px;
  }

  &__title h2 {
    max-width: 100%;
  }

  &__title h2 span {
    display: block;
    font-size: 17px;
  }

  &__row:not(:last-child) {
    margin-bottom: 50px;
  }

  &__text {
    max-width: 435px;
  }

  &__text h3 {
    @extend %futura-700;
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
  }

  &__text h3 span {
    display: block;
  }

  &__text p {
    @extend %futura-300;
    font-size: 18px;
    color: #000;
  }

  &__text p:not(:last-child) {
    margin-bottom: 30px;
  }

  &__image-box {
    max-width: 770px;
  }

  &__image{
    overflow: hidden;
  }

  &__image img{
    transition: transform 500ms ease;
  }

  &__image img:hover{
    transform: scale(1.05);
  }

  &__slider-box {
    padding-bottom: 80px;
    position: relative;
  }

  &__item-gallery img{
    height: 470px;
    width: 100%;
    object-fit: cover;
    transition: transform 500ms ease;
  }
  
  &__item-vertical img{
    width: 100%;
    height: 490px;
    object-fit: cover;
    transition: transform 500ms ease;
  }

  &__item-gallery a,
  &__item-vertical a{
    position: relative;
    overflow: hidden;
  }

  &__item-gallery a::before,
  &__item-vertical a::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 500ms ease;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__item-gallery a::after,
  &__item-vertical a::after{
    content: '+';
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 45px;
    opacity: 0;
    z-index: 2;
    transition: top 500ms ease, opacity 500ms ease;
  }

  &__item-gallery:hover img{
    transform: scale(1.05);
  }

  &__item-gallery a:hover::before,
  &__item-vertical a:hover::before{
    opacity: 1;
  }

  &__item-gallery a:hover::after,
  &__item-vertical a:hover::after{
    opacity: 1;
    top: 50%;
  }

  &__video-box{
    position: relative;
    overflow: hidden;
  }

  &__video-box a{
    position: relative;
  }

  &__video-box a:hover img{
    transform: scale(1.05);
  }

  &__video-box img{
    transition: transform 500ms ease;
  }

  &__video-box a::before,
  &__video-box a::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__video-box a::before{
    background-image: url('../images/icons/play.svg');
    width: 48px;
    height: 48px;
    z-index: 5;
    transition: background-image 500ms ease;
  }

  &__video-box a::after{
    content: '';
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 4;
    transition: background-color 500ms ease;
  }

  &__video-box a:hover::before{
    background-image: url('../images/icons/play-white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__video-box a:hover::after{
    background-color: #000;
  }

  &__vertical-box{
    position: relative;
    padding-bottom: 80px;
  }

  &__item-vertical a + a{
    margin-left: 30px;
  }

  &__item-vertical a:hover img{
    transform: scale(1.05);
  }

  &__text-row:not(:last-child){
    margin-bottom: 50px;
  }

  &__text-row--two p{
    max-width: 570px;
  }

  &__text-block h3{
    @extend %futura-700;
    font-size: 17px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 30px;
  }

  &__text-block h3 span{
    display: block;
  }

  &__text-block p{
    @extend %futura-300;
    font-size: 17px;
    padding-right: 50px;
  }

  &__text-row--three p{
    max-width: 355px;
    margin-right: auto;
    padding-right: 0;
  }

  &__text-row--three p{
    @extend %futura-300;
    font-size: 17px;
    color: #000;
  }

  &__text-row--three p span{
    display: block;
    @extend %futura-700;
    font-size: 21px;
    color: #a2a2a2;
    margin-bottom: 20px;
  }

  &__text-row--styles p em{
    @extend %futura-300;
    font-weight: 300;
    color: #000;
    font-size: 17px;
  }

  &__text-row--styles p strong{
    @extend %futura-400;
    font-size: 17px;
    color: #000;
  }

  &__text-row--styles p a{
    @extend %futura-300;
    color: #000;
    font-size: 17px;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    transition: border-bottom-color 500ms ease;
  }

  &__text-row--styles p a:hover{
    border-bottom-color: transparent;
  }

  .content__text-row--styles ul,
  .content__text-row--styles ol{
    padding-left: 16px;
  }

  .content__text-row--styles ul{
    padding-left: 0;
  }

  .content__text-row--styles ul li,
  .content__text-row--styles ol li{
    @extend %futura-300;
    color: #000;
    font-size: 17px;
  }

  .content__text-row--styles ul li{
    padding-left: 0;
    position: relative;
    padding-left: 10px;
    list-style: none;
  }

  .content__text-row--styles ul li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
  }

  &__main-slider{
    position: relative;
    padding: 0 0 25px;
  }

  &__main-link-box img{
    width: 100%;
  }

  &__main-link h3,
  &__main-link p,
  &__main-link span,
  &__main-link button{
    position: absolute;
    z-index: 1100;
  }

  &__main-link h3{
    left: 40px;
    top: 50px;
    @extend %futura-700;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 1;
    color: #000;
    max-width: 450px;
  }

  &__main-link button{
    right: 40px;
    bottom: 50px;
    width: 100%;
    max-width: 220px;
    height: 80px;
    @extend %futura-book;
    font-size: 17px;
    border: none;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    transition: background-color 500ms ease;
  }

  &__main-link button:hover{
    background-color: #a32330;
  }

  &__main-link p{
    left: 40px;
    bottom: 50px;
    @extend %futura-300;
    font-size: 31px;
    color: #000;
    text-transform: uppercase;
    max-width: 420px;
  }

  &__main-link span{
    display: inline-block;
    @extend %futura-700;
    font-size: 31px;
    color: #000;
    text-transform: uppercase;
    text-align: right;
    max-width: 160px;
    top: 50px;
    right: 40px;
  }

  .swiper-pagination-content {
    left: 10px;
    bottom: 0;
    text-align: left;
  }

  .swiper-pagination-bullet {
    width: 105px;
    height: 4px;
    border-radius: 0;
    margin: 0;
    // background-color: #e9e9e9;
  }

  .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 20px;
  }

  .swiper-pagination-bullet-active {
    background-color: #323232;
  }

}

    .swiper-navigation-content,
    .swiper-navigation-vertical {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      max-width: 280px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .swiper-content-prev,
    .swiper-content-next,
    .swiper-vertical-prev,
    .swiper-vertical-next {
      border-right: 1px solid transparent;
      padding: 20px 20px 20px 0;
      transition: border-color 500ms ease;
      position: relative;
    }
  
    .swiper-content-prev,
    .swiper-vertical-prev {
      border-left: 1px solid transparent;
      border-right: none;
      padding: 20px 0 20px 20px;
    }
  
    .swiper-content-prev:hover,
    .swiper-content-next:hover,
    .swiper-vertical-prev:hover,
    .swiper-vertical-next:hover {
      border-color: #000;
    }
  
    .swiper-content-prev::before,
    .swiper-content-prev::after,
    .swiper-content-next::before,
    .swiper-content-next::after,
    .swiper-vertical-prev::before,
    .swiper-vertical-prev::after,
    .swiper-vertical-next::before,
    .swiper-vertical-next::after {
      content: '';
      position: absolute;
      right: -1px;
      bottom: -1px;
      background-color: #000;
      width: 50%;
      height: 1px;
      opacity: 0;
      transition: opacity 500ms ease;
    }
  
    .swiper-content-prev::after,
    .swiper-content-next::after,
    .swiper-vertical-prev::after,
    .swiper-vertical-next::after {
      top: 0px;
    }
  
    .swiper-content-prev::after,
    .swiper-content-prev::before,
    .swiper-vertical-prev::after,
    .swiper-vertical-prev::before {
      left: -1px;
    }
  
    .swiper-content-prev:hover::before,
    .swiper-content-prev:hover::after,
    .swiper-content-next:hover::before,
    .swiper-content-next:hover::after,
    .swiper-vertical-prev:hover::before,
    .swiper-vertical-prev:hover::after,
    .swiper-vertical-next:hover::before,
    .swiper-vertical-next:hover::after {
      opacity: 1;
    }

    .modal{
      backdrop-filter: blur(8px);
    }

    .modal-content{
      background-color: transparent;
      border-radius: 0;
      border: none;
    }

    .modal-header{
      padding: 0 0 70px 0;
    }

    .modal-body{
      background-color: #e9e9e9;
      padding: 40px 35px;
    }

    .modal-title{
      @extend %futura-300;
      text-transform: uppercase;
      font-size: 40px;
      color: #e9e9e9;
    }

    .modal-title br{
      display: none;
    }

    .form__item{
      margin-bottom: 35px;
    }

    .form-control{
      background-color: transparent;
      border: 1px solid transparent;
      border-left: 1px solid #000;
      height: 55px;
      border-radius: 0;
      text-transform: uppercase;
      @extend %futura-300;
      color: #000;
      font-size: 17px;
      max-width: 275px;
      padding: 20px 30px 20px 20px;
      transition: background-color 500ms ease,
      border-color 500ms ease;
      cursor: pointer;
    }

    .form-group{
      position: relative;
      max-width: 275px;
    }

    .form-group::before{
      content: '';
      position: absolute;
      right: 15px;
      top: 20px;
      z-index: 3;
      background-image: url('../images/icons/arrow.svg');
      width: 14px;
      height: 12px;
      transform: rotate(90deg);
      opacity: 0;
      transition: opacity 500ms ease;
    }
    
    .form-group:hover::before{
      opacity: 1;
    }

    .form-control::placeholder{
      @extend %futura-300;
      color: #000;
      font-size: 17px;
    }

    .form-control:hover,
    .form-control:focus{
      background-color: #fff;
      color: #000;
      box-shadow: none;
      border: 1px solid #000;
    }

    .form-group__input:hover::before,
    .form-group__input:hover::after{
      opacity: 0;
    }

    .form-control:hover::placeholder,
    .form-control:focus::placeholder{
      color: #000;
    }

    .form-group__input{
      position: relative;
    }

    .form-group__input::before,
    .form-group__input::after{
      content: '';
      position: absolute;
      left: 0;
      height: 1px;
      width: 45px;
      background-color: #000;
      transition: opacity 500ms ease;
    }

    .form-group__input::before{
      top: 0;
    }

    .form-group__input::after{
      bottom: 0;
    }

    .custom-control{
      margin-bottom: 55px;
    }

    .custom-control-label{
      @extend %futura-300;
      color: #000;
      font-size: 14px;
    }

    .custom-control-label a{
      border-bottom: 1px solid #000;
      transition: border-bottom-color 500ms ease;
    }

    .custom-control-label a:hover{
      border-bottom-color: transparent;
    }

    .form__btn{
      display: block;
      margin: 0 auto;
      max-width: 270px;
      width: 100%;
      height: 70px;
      border-top: none;
      border-bottom: none;
      border-right: none;
      @extend %futura-400;
      font-size: 24px;
      color: #000;
      background-color: transparent;
      transition: background-color 500ms ease;
    }

    .form__btn:hover{
      background-color: #fff;
      transform: scale(1);
    }

    .form__btn::before{
      left: -1px;
    }

    .form__btn::before{
      right: -1px;
    }

    .modal .close{
      border: none;
      background-color: transparent;
      padding: 0;
    }